body{
    .title-list{
        .item{
            min-height: 350px;
            .left-side{
                img{
                    width: 100%;
                    height: auto;                
                }
            }
        }        
    }
}